body {
    font-family: Arial;
    background-color: #cfe8ff;
}

.image-container {
    text-align: center;
}

.image-container img {
    display: inline-block;
    margin: 0 10px;
}


h1 {
    color: blue;
    text-align: center;
}

.paragraph {
    font-size: 16px
}

.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.small-button {
    background-color: blue;
    padding: 5px 10px;
    font-size: 12px;
    width: 300px;
    length: 200px;
    display: block;
    margin: 0 auto;
}

button:hover {
    opacity: 0.8;
}

nav {
    background-color: #336699;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #ADD8E6;
}